@import url("vars.css");

main{
  background-color: var(--background-color);
  color: var(--text-color);
}

footer{
  background-color: var(--header-color);
}

section#index-projects {
  background-color: var(--text-color);
  color: var(--background-color);
  column-count: 2;
}

.myNav{
   background-color: var(--header-color);
   clear:both;
   float:left;
   padding:0px 0px 0px 0px;
   width:100%;
   font-size:1.2em;  
   z-index:1000; 
   position:relative;
}

.myNav ul{
   margin: 1vw;
   padding: 0.5vw;
   list-style:none;
   float:right;
   position:relative;
}

.myNav ul li {
  display: inline;
  
}

nav.FooterNav{
  color: @import url("vars.css");

h1, h2, h3, p{
  color: var(--text-color);
}

section#index-projects h2 {column-span: all}




  
