@import url("vars.css");

@font-face {
  font-family: "Montserrat";
  src: url('Montserrat-Regular.ttf') format('truetype');
}

@keyframes text-color-change {
  from {color: var(--header-color);}
  to {color: var(--text-color);}
}

html {
  font-family:  "Montserrat",  serif, Helvetica;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
}

main{ 
  margin: 1vw;
}

header{
 margin: 0;
}

footer{
  background-color: var(--header-color);
  color: var(--background-color);
  postion: relative;
  float: center;
}

.homepage_top {
    display: inline-block;
    vertical-align: middle;
    margin: 1vw;
    width: 50%;
    text-align: left;
    margin-top: 1vw;
}

picture {
    display: inline-block;
    object-fit:  none;
    vertical-align: middle;
    width: 40%;
    margin-top: 1vw;
}

.myNav{
   background-color: var(--header-color);
   clear:both;
   float:left;
   padding:0px 0px 0px 0px;
   margin: 0;
   width:100%;
   font-size:1.2em;  
   z-index:1000; 
   position:relative;
}

.FooterNav{
   clear:both;
   padding:0vw 0vw 0vw 1vw;
   margin: 0;
   width:100%;
   font-size:1.2em;  
   z-index:1000; 
   position:relative;
}

#main-projects{
   background-color: var(--background-color);
}

#left{
  height: 100%;
  width: 50%;
  padding: 2vw;
  display: inline-block;
  vertical-align: middle;
 
}

#right {
  height: 100%;
  width: 50%;
  padding: 2vw;
  display: inline-block;
  vertical-align: middle;
  float: right;
}

h1, h2, h3, p{
  color: var(--text-color);
  
}

a {
  color: var(--background-color);
  transition: color 2s;
}

em {
  color: var(--header-color);
  animation-name: text-color-change;
  animation-duration: 4s;
}

button {
  background-color: var(--text-color);
  color: var(--background-color);
}

ol a {
  color: var(--text-color);
}

footer p {
  color: var(--background-color);
  text-align: center;
  margin: 0.5vw;
}

.myNav ul{
   margin: 1vw;
   padding: 0.5vw;
   list-style:none;
   float:right;
   position:relative;
}

.FooterNav ul{
   margin: 1vw;
   padding: 0.5vw;
   list-style:none;
   text-align: center;
   position:relative;
   list-style:none;
}

.myNav ul li, .FooterNav ul li{
  display: inline;
  padding: 0.5vw;
}

a:hover {
  color: var(--accent-color);
}





  
