@import url("vars.css");

@font-face {
  font-family: "Montserrat";
  src: url('Montserrat-Regular.ttf') format('truetype');
}

html {
  font-family:  "Montserrat",  serif, Helvetica;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
}

main{ 
  margin: 1vw;
}

header{
 margin: 0;
}

footer{
  background-color: var(--header-color);
  color: var(--background-color);
  postion: relative;
  float: center;
}

img {
    display: inline-block;
    vertical-align: middle;
    width:60%;
    margin-top: 1vw;
}

.text {
    display: inline-block;
    vertical-align: middle;
    margin: 1vw;
    text-align: left;
    margin-top: 1vw;
}

.myNav{
   background-color: var(--header-color);
   clear:both;
   float:left;
   padding:0px 0px 0px 0px;
   margin: 0;
   width:100%;
   font-size:1.2em;  
   z-index:1000; 
   position:relative;
}

.FooterNav{
   clear:both;
   padding:0px 0px 0px 0px;
   margin: 0;
   width:100%;
   font-size:1.2em;  
   z-index:1000; 
   position:relative;
}

#project-describe {
  list-style:none;
}

h1, h2, h3, p{
  color: var(--text-color);
  
}

a {
  color: var(--background-color);
}

em {
  color: var(--header-color);
}

button {
  background-color: var(--text-color);
  color: var(--background-color);
}

ol a {
  color: var(--text-color);
}

footer p {
  color: var(--background-color);
  text-align: center;
  margin: 0.5vw;
}

.myNav ul{
   margin: 1vw;
   padding: 0.5vw;
   list-style:none;
   float:right;
   position:relative;
}

.FooterNav ul{
   margin: 1vw;
   padding: 0.5vw;
   list-style:none;
   text-align: center;
   position:relative;
   list-style:none;
}

.myNav ul li, .FooterNav ul li{
  display: inline;
  padding: 0.5vw;
}

a:hover {
  color: var(--accent-color);
}





  
